:root {
    --primary: #f2cc38;
    --secondary: #00a082;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

.c-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.r-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar {
    background-color: var(--primary) !important;
    padding-left: 30vw;
}

.dropdown-toggle {
    background-color: var(--secondary);
}

.carouselExampleCaptions {
    height: 80vh;
}

.carousel-item {
    height: 70vh;
}

.carousel-item img {
    height: 70vh;
    width: 100% !important;
    object-fit: cover;
}

.specials {
    height: 80vh;
    margin-top: 2vw;
}

.specials .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.specials .card-img-top {
    width: 15vw;
}

.specials .card-title {
    font-size: 1.1vw;
}

.menu .card-deck {
    margin-bottom: 5vw;
}

.menu .card {
    box-shadow: 2px 2px 5px grey;
}

.menu .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.menu .card-body {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.menu .card-title {
    font-size: 1.2vw;
}

.menu .card-text {
    font-size: 1.1vw;
    padding-left: 3vw;
}


/* MODAL  */

.modal {
    width: 80vw !important;
    height: 40vw;
    display: none;
}

.modal .img img {
    width: 30vw;
    height: 20vw;
}

.modal .pizza-infor {}

.footer {
    height: 30vh;
    background-color: #1e1d13;
    color: white;
}

#logo {
    padding-left: 6vw;
}

.footer .logo {
    color: var(--primary);
    font-size: 2vw;
}

.footer #logo span {
    color: var(--primary);
}

.footer li {
    list-style: none;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
    font-size: 1.1vw;
}

.footer i {
    font-size: 1.1vw;
}

.copyright {
    background-color: #1e1d13;
    color: white;
    text-align: center;
}