:root {
    --primary: #f2cc38;
    --secondary: #00a082;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

.c-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.r-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar {
    background-color: var(--primary) !important;
    padding-left: 30vw;
}

.dropdown-toggle {
    background-color: var(--secondary);
}

.carouselExampleCaptions {
    height: 80vh;
}

.carousel-item {
    height: 70vh;
}

.carousel-item img {
    height: 70vh;
    width: 100% !important;
    object-fit: cover;
}

.specials {
    height: 80vh;
    margin-top: 2vw;
}

.specials .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.specials .card-img-top {
    width: 15vw;
}

.specials .card-title {
    font-size: 1.1vw;
}